<h3>Followers</h3>
<!-- <p>Search for Followers:</p> -->
<form action="/search" method="POST" name="search"
<% @followers.each do |follower| %>
  <p>User Name: <%= follower.username %></p>
  <p>Email: <%= follower.email %><p>
<%end%>

